<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"layout:decorator="template">
<link rel="stylesheet" type="text/css"href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<head>
<meta charset="utf-8">
<title>Gestion des Employes</title>
</head>
<body>
<div layout:fragment="Mycontent">
<h1 class="text-center" style = "color: #ffc727; margin-top: 5%; font-weight: bold;font-size: 200px;">
GE
</h1  >

<h2 class="text-center" style = "color: #1A5276;  font-weight: bold;">
Bienvenue sur votre espace personnel !
</h2  >
</div>
</body>
</html>